<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h1>Editing Blog</h1>
      <%= link_to 'Show', @blog %> |
      <%= link_to 'Back', blogs_path %>
      <%= render 'form', blog: @blog %>
    </div>
    <%= render 'shared/blog_sidebar' %>
  </div>
</main>
