<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main pl-0">
      <%= paginate @blogs %>
      <%= render @blogs %>
      <nav class="blog-pagination">
        <%= paginate @blogs %>
      </nav>
    </div>
    <%= render 'shared/blog_sidebar' %>
  </div>
</main>
<br>
