<h1>About US</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "tiger.jpg", width: 300, alt: 'Profile Image' %>
  </div>
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quos cum enim asperiores. Velit vitae nulla delectus sed laborum provident quas autem ad doloribus mollitia. Distinctio, officia optio, ipsam quaerat tempora quas saepe quibusdam accusamus aliquam magnam aperiam atque. Soluta.</p>
  </div>
</div>
